<!DOCTYPE html>
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>ChicPluz</title>
</head>
<body>
    <header class="header">
        <nav>
            <div class="logo">
                <a href=""><img src="img\logo.png" alt="logo" class="logo"></a>
            </div>

            <div class="search-box">
                <input type="text" class="search-txt" placeholder="Pesquisar">
                <a href="a" class="search-btn"> <img src="img\lupa.png" alt="Lupa"></a>
            </div>
           
            <div class="cadastro">
                <a href=""><img src="img\conecte-se.png" alt="login" class="cadastro"></a>
                </div>
    
            </div>
            <div class="favoritos">
                <a href=""><img src="img\coração.png" alt="coração" class="favoritos"></a>
            </div>
            <div class="sacola">
                <a href=""><img src="img\bolsa-de-compras .png" alt="sacola" class="sacola"></a>
            </div>
           
        </nav>

        <div class="topicos">
            <p><a href="">Categorias</a></p>
            <p><a href="">Lançamentos</a></p>
            <p><a href="">Promoções</a></p>
            <p><a href="">Lingerie</a></p>
            <p><a href="">Moda Praia</a></p>
            <p><a href="">Vestidos</a></p>
        </div>
    
    
    </header>

    <div class="slider">
        <div class="slides">
            <!--Radio Buttons-->
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">
            <!--FIM Radio Buttons-->
            <!--slides IMAGENS-->
            <div class="slide first">

                <img src="img\slide1.jpg" alt="imagem 1" />
            </div>
            <div class="slide">
                <img src="img\lembrete-nao-deixe-o-look-que-vc-pode-comprar-hoje__62547.png" alt="imagem 2" />
            </div>
            <div class="slide">
                <img src="img\slide3.jpg" alt="imagem 3" />
            </div>
            <div class="slide">
                <img src="img\slide4.jpg" alt="imagem 4" />
            </div>
            <!-- FIM slides IMAGENS-->
            <!-- NAVEGATION AUTO-->
            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
            </div>
        </div>
        <div class="manual-navigation">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
        </div>
    </div>
    <script src="script.js"></script>

    <div class="destaquesFaixa">
        <p>DESTAQUES DA SEMANA</p>
    </div>
</section>

<section>
    <div class="container">
        <div class="produtoImagem">
            <img class="variasImagens" src="img/produto10.jpg" alt="">
            <img class="coração" src="img/coracao (2).png" alt="coração">
            <h5 class="nomeProduto">Blusa Preta (mangas)</h5>
            <h4 class="precoProduto"><del> R$ 75,00 </del></h4>
            <h2> 69,99</h2>
            <button class="botaoComprar">Compre Agora</button>
        </div>
        <div class="produtoImagem">
            <img class="variasImagens" src="img/produto5.jpg" alt="">
            <img class="coração" src="img/coracao (2).png" alt="coração">
            <h5 class="nomeProduto"> Macaquinho RosaChic</h5>
            <h4 class="precoProduto"><del> R$ 62,80 </del></h4>
            <h2> R$ 54,99</h2>
            <button class="botaoComprar">Compre Agora</button>
        </div>
        <div class="produtoImagem">
            <img class="variasImagens" src="img/produto3.jpg" alt="">
            <img class="coração" src="img/coracao (2).png" alt="coração">
            <h5 class="nomeProduto"> Conjuntinho Azul </h5>
            <h4 class="precoProduto"><del> R$ 96,00 </del></h4>
            <h2> 75,99</h2>
            <button class="botaoComprar">Compre Agora</button>
        </div>
        <div class="produtoImagem">
            <img class="variasImagens" src="img/produto4.jpg" alt="">
            <img class="coração" src="img/coracao (2).png" alt="coração">
            <h5 class="nomeProduto">Blusa Preta Longa</h5>
            <h4 class="precoProduto"><del> R$ 65,00 </del></h4>
            <h2> 35,00</h2>
            <button class="botaoComprar">Compre Agora</button>
        </div>
        <div class="produtoImagem">
            <img class="variasImagens" src="img/produto6.jpg" alt="">
            <img class="coração" src="img/coracao (2).png" alt="coração">
            <h5 class="nomeProduto">Blusa Preta (mangas)</h5>
            <h4 class="precoProduto"><del> R$ 75,00 </del></h4>
            <h2> 69,99</h2>
            <button class="botaoComprar">Compre Agora</button>
        </div>

    </div>

    <div class="destaque">
            <div class="DESTAQUES">
                <div> <img class="produtoImagens" src="img/produto7.jpg" alt=""> </div>
                <div><img class="coração" src="img/coracao (2).png" alt="coração"></div>
                <div>
                    <h5 class="nomeProduto">Vestido Vinho</h5>
                </div>
                <div>
                    <h4 class="precoProduto"><del>R$ 650,00</del></h4>
                    <h2> R$ 500,00</h2>
                </div>
                <button class="botaoComprar">Compre Agora</button>
            </div>
            <div class="DESTAQUES">
                <div> <img class="produtoImagens" src="img/produto8.jpg" alt=""> </div>
                <div><img class="coração" src="img/coracao (2).png" alt="coração"></div>
                <div>
                    <h5 class="nomeProduto">Calça Jeans</h5>
                </div>
                <div>
                    <h4 class="precoProduto"><del>R$ 120,00</del></h4>
                    <h2> R$ 99,00</h2>
                </div>
                <button class="botaoComprar">Compre Agora</button>
            </div>
            <div class="DESTAQUES">
                <div> <img class="produtoImagens" src="img/produto9.jpg" alt=""> </div>
                <div><img class="coração" src="img/coracao (2).png" alt="coração"></div>
                <div>
                    <h5 class="nomeProduto">Casaco Chic</h5>
                </div>
                <div>
                    <h4 class="precoProduto"><del>R$ 650,00</del></h4>
                    <h2> R$ 500,00</h2>
                </div>
                <button class="botaoComprar">Compre Agora</button>
            </div>
    </div>
<div class="depart_cor">
    <p class="categoriasP">Categorias</p>
</div>


<section class="categoriasAll">

    <div class="categoriasIcone">
        <h4 class="nomeIcone">Festa</h4>
        <a href=""> <img src="img/formal.png" alt=""> </a>
    </div>
    <div class="categoriasIcone">
        <h4 class="nomeIcone">Inverno</h4>
        <a href=""> <img src="img/lenco-de-inverno.png" alt=""> </a>
    </div>
    <div class="categoriasIcone">
        <h4 class="nomeIcone">Calças</h4>
        <a href=""> <img src="img/calca.png" alt=""> </a>
    </div>
    <div class="categoriasIcone">
        <h4 class="nomeIcone">Saias</h4>
        <a href=""> <img src="img/saia.png" alt=""> </a>
    </div>
    <div class="categoriasIcone">
        <h4 class="nomeIcone">Body</h4>
        <a href=""> <img src="img/body.png" alt=""> </a>
    </div>
    <div class="categoriasIcone">
        <h4 class="nomeIcone">Blusas</h4>
        <a href=""> <img src="img/blusa (1).png" alt=""> </a>
    </div>
    <div class="categoriasIcone">
        <h4 class="nomeIcone">Pijamas</h4>
        <a href=""> <img src="img/pijamas.png" alt=""> </a>
    </div>
    <div class="categoriasIcone">
        <h4 class="nomeIcone">Jaquetas</h4>
        <a href=""> <img src="img/jacket.png" alt=""> </a>
    </div>
    <div class="categoriasIcone">
        <h4 class="nomeIcone">Short</h4>
        <a href=""> <img src="img/shorts.png" alt=""> </a>
    </div>
</section>

<div class="recebaEmail">
    <div class="logo">
        <img class="logo" src="img/logo.png" >
    </div>
    
    <div class="recebatext">
        <h4>Receba ofertas exclusivas no seu e-mail!</h4>
    </div>

    <form class="grupoInputs">
        <div class="email_Promo">

            <label for="nome" class="form-label"></label>
            <input type="text" name="nome" id="nome" class="form-control" placeholder="NOME">
        </div>
    </form>
    <form class="grupoInputs">
        <div class="email_promo">
            <label for="email" class="form-label"></label>
            <input type="email" name="email" id="email" class="form-control" placeholder="e-mail">
        </div>
    </form>

    <button class="botaoCadastrar">CADASTRAR</button>


</div>


</body>

